.well style='background-color: #dddddd'
  = simple_form_for [article, comment] do |f|
    = f.input :content, input_html: { rows: 3 }, placeholder: 'What do you think?', label: false
    = f.button :submit
