h1 Article page
= render 'shared/navigation'
h3 = @article.title
p = @article.content
= render 'article_tags'
h3 Comments:
= render 'comments/listed_comments'
h4 Actions:
= link_to 'Create Comment', new_article_comment_path(@article)
br
= link_to 'Comments', article_comments_path(@article)
br
= link_to 'Edit', edit_article_path
br
= link_to 'Delete', article_path, method: :delete
